:root {
    --black: rgb(49, 49, 49);
    --secondaryBlack: rgb(85, 85, 85);
    --purple: #7F4796;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
.purpleBackground {
    background-color: var(--purple);
}

.bold {
    font-weight: bold;
}

.button {
    display: block;
    text-decoration: none;
    color: white;
    padding: .7rem 0;
    border-radius: 5%;
    width: 100%;
    font-size: .8rem;
}

.whiteBorder {
    border: 2px solid white;
}

.whiteFilled {
    border: 2px solid white;
    background-color: white;
    color: var(--black);
}

.containerShadow {
    -webkit-box-shadow: 1px 3px 12px 1px rgba(177, 177, 177, 0.75);
    -moz-box-shadow: 1px 3px 12px 1px rgba(177, 177, 177, 0.75);
    box-shadow: 1px 3px 12px 1px rgba(177, 177, 177, 0.75);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/*--------------------------------------------- HEADER -------------------------------------------- */

header {
    height: 68vh;
    color: white;
    padding: 6rem 8rem 0 8rem;
}

nav {
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.menu {
    list-style: none;
}

.menu>li {
    display: inline-block;
    width: 7rem;
    margin: 0 .3rem;
    text-align: center;
}

.allHeaderItems {
    width: 50%;
    height: 80%;
    margin-top: 1rem;
}

.allHeaderItems>h1 {
    font-size: 3.3rem;
}

.allHeaderItems>p {
    font-size: 1.13rem;
    margin: 2.5rem 0;
}

.headerButtonContainer {
    width: 100%;
    display: flex;
}

.headerButton {
    width: 8.5rem;
    margin: 0 .4rem;
    text-align: center;
}

/*--------------------------------------------- EVENTS -------------------------------------------- */

.events {
    margin: 3.5rem;
    text-align: center;
    color: var(--black);
}

.limitText {
    width: 23.7rem;
    text-align: justify;
    margin: 0 auto 3rem auto;
    color: var(--secondaryBlack);
}

.profileSection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 3rem;
}

.profile {
    height: 22rem;
    width: 22%;
    border-radius: 5%;
    color: var(--secondaryBlack);
    padding: 2rem .5rem;
    text-align: center;
}

.profilePic {
    border-radius: 50%;
    width: 6rem;
}

.name {
    font-variant-caps: all-small-caps;
    font-weight: 600;
    font-size: 1.1rem;
    margin: .5rem 0;
}

.role {
    font-variant-caps: all-small-caps;
    font-size: .9rem;
    background-color: #dfececde;
    color: rgb(0, 95, 184);
    width: fit-content;
    padding: 0 .8rem .2rem .8rem;
    
}

.longDecoration {
    border-radius: 10% / 50%;
}

.shortDecoration {
    border-radius: 20% / 50%;
}

.descriptionAndTime {
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: smaller;
    line-height: 20px;
}

.socials>a>img {
    width: 8.5%;
    margin: 0 .3rem;
}

/*----------------------------------------- EVENT SIGN-UP ---------------------------------------- */

.eventSignUp {
    width: 100%;
    height: 30vh;
    background-color: var(--purple);
    color: white;
    padding: 0 14.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 35%;
}

.title>p {
    margin-bottom: 1rem;
}

.title>h3 {
    line-height: 25px;
}

.buttons {
    display: flex;
    width: 35%;
}

/*--------------------------------------------- RIOTS -------------------------------------------- */

.riots {
    text-align: center;
    color: var(--black);
    margin: 3.5rem 14rem 0 14rem;
}

.riotWrap {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.riotDetails {
    width: 47%;
    height: 12rem;
    margin: 1.5%;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    text-align: left;
    border-radius: 5%;
    color: var(--secondaryBlack);
}

.riotDetails>h3 {
    color: var(--black);
}

.riotDetails>h3, p {
    margin-bottom: .7rem;
    line-height: 25px;
}

.riotDetails>p {
    color: var(--secondaryBlack);
}

.learnMore {
    text-decoration: none;
    font-size: smaller;
    font-weight: bold;
    color: rgb(56, 118, 199);
}

/*------------------------------------------- NEWSLETTER ------------------------------------------ */

.newsletter {
    background-color: var(--purple);
    color: var(--black);
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.newsletterContainer {
    background-color: white;
    width: 100%;
    min-height: 60%;
    border-radius: 1.5% / 7%;
    margin: 0 15rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.newsletterInfoText {
    min-width: 33%;
    margin-right: 5%;
}

.newsletterInfoText>h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.newsletterInfoText>p {
    color: var(--secondaryBlack);
    font-size: .87rem;
}

.newsletterEmailInput {
    min-width: 43%;
    margin-right: 3%;
}

.newsletterEmailInput>p {
    font-size: smaller;
}

.red {
    color: rgb(184, 0, 0);
    margin-left: .5rem;
    font-size: 1.2rem;
}

#newsletterEmail {
    width: 100%;
    height: 2.7rem;
    margin-top: -1rem;
    padding: 1rem 1.2rem;
    border: 2px solid lightgray;
    border-radius: 1% / 10%;
}

.newsletterContainer>a {
    color: var(--black);
    text-align: center;
    margin-top: 1.7rem;
    font-weight: bold;
}

.blueArrow {
    color: rgb(0, 58, 112);
}

/*-------------------------------------------- BLOG ------------------------------------------- */

.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    color: var(--black);
}

.postContainer {
    display: flex;
    margin: 3rem 15rem;
    gap: 1.3rem;
}

.postItem {
    width: 50%;
    min-height: 13rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 3% / 5%;
}

.postItem:first-child {
    background-color: white;
}

.postItem:last-child {
    border: 1px solid rgb(228, 228, 228);
}

.postItem>div>h3 {
    line-height: 25px;
}

.postItem>div>p {
    color: var(--secondaryBlack);
    font-size: 14px;
    line-height: 22px;
    margin: .7rem 3rem .7rem 0;
}

.postItem>img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 10%;
}

.blogContainer>h2 {
    margin-top: 5rem;
}

.blogContainer>p {
    width: 30%;
}

.blogItemContainer {
    width: 80%;
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.blogItem {
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    text-align: left;
}

.imgBackground {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogItem:first-child>.imgBackground {
    background-color: #bbeb83;
}

.blogItem:nth-child(2)>.imgBackground {
    background-color: #e8e4e4;
}

.blogItem:last-child>.imgBackground {
    background-color: #dcfcf4;
}

.imgBackground>img {
    height: 40%;
}

.blogTextBox {
    padding: 1.5rem 2.7rem;
}