:root {
    --black: rgb(49, 49, 49);
    --secondaryBlack: rgb(90, 90, 90);
    --purple: #7F4796;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
.purpleBackground {
    background-color: var(--purple);
}

.bold {
    font-weight: bold;
}

.button {
    display: block;
    text-decoration: none;
    color: white;
    padding: .7rem 0;
    border-radius: 5%;
    width: 100%;
    font-size: .8rem;
}

.whiteBorder {
    border: 2px solid white;
}

.whiteFilled {
    border: 2px solid white;
    background-color: white;
    color: var(--black);
}

.containerShadow {
    -webkit-box-shadow: 1px 3px 12px 1px rgba(177, 177, 177, 0.75);
    -moz-box-shadow: 1px 3px 12px 1px rgba(177, 177, 177, 0.75);
    box-shadow: 1px 3px 12px 1px rgba(177, 177, 177, 0.75);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/*--------------------------------------------- HEADER -------------------------------------------- */

header {
    height: 68vh;
    color: white;
    padding: 6rem 8rem 0 8rem;
}

nav {
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.menu {
    list-style: none;
}

.menu>li {
    display: inline-block;
    width: 7rem;
    margin: 0 .3rem;
    text-align: center;
}

.allHeaderItems {
    width: 50%;
    height: 80%;
    margin-top: 1rem;
}

.allHeaderItems>h1 {
    font-size: 3.3rem;
}

.allHeaderItems>p {
    font-size: 1.13rem;
    margin: 2.5rem 0;
}

.headerButtonContainer {
    width: 100%;
    display: flex;
}

.headerButton {
    width: 8.5rem;
    margin: 0 .4rem;
    text-align: center;
}

/*--------------------------------------------- EVENTS -------------------------------------------- */

.events {
    margin: 3.5rem;
    text-align: center;
    color: var(--black);
}

.limitText {
    width: 23.7rem;
    text-align: justify;
    margin: 0 auto 3rem auto;
    color: var(--secondaryBlack);
}

.profileSection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 3rem;
}

.profile {
    height: 22rem;
    width: 22%;
    border-radius: 5%;
    color: var(--secondaryBlack);
    padding: 2rem .5rem;
    text-align: center;
}

.profilePic {
    border-radius: 50%;
    width: 6rem;
}

.name {
    font-variant-caps: all-small-caps;
    font-weight: 600;
    font-size: 1.1rem;
    margin: .5rem 0;
}

.role {
    font-variant-caps: all-small-caps;
    font-size: .9rem;
    background-color: #dfececde;
    color: rgb(0, 95, 184);
    width: fit-content;
    padding: 0 .8rem .2rem .8rem;
    
}

.longDecoration {
    border-radius: 10% / 50%;
}

.shortDecoration {
    border-radius: 20% / 50%;
}

.descriptionAndTime {
    margin: 1rem 0;
    padding: 0 1rem;
    font-size: smaller;
    line-height: 20px;
}

.socials>a>img {
    width: 8.5%;
    margin: 0 .3rem;
}

/*----------------------------------------- EVENT SIGN-UP ---------------------------------------- */

.eventSignUp {
    width: 100%;
    height: 30vh;
    background-color: var(--purple);
    color: white;
    padding: 0 14.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 35%;
}

.title>p {
    margin-bottom: 1rem;
}

.title>h3 {
    line-height: 25px;
}

.buttons {
    display: flex;
    width: 35%;
}

/*--------------------------------------------- RIOTS -------------------------------------------- */

.riots {
    text-align: center;
    color: var(--black);
    margin: 3.5rem 14rem 0 14rem;
}

.riotWrap {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.riotDetails {
    width: 47%;
    height: 12rem;
    margin: 1.5%;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    text-align: left;
    border-radius: 5%;
    color: var(--secondaryBlack);
}

.riotDetails>h3, p {
    margin-bottom: .7rem;
    line-height: 25px;
}

.riotDetails>p {
    color: var(--secondaryBlack);
}

.riotDetails>a {
    text-decoration: none;
    font-size: smaller;
    font-weight: bold;
    color: rgb(56, 118, 199);
}